<div class="card col-lg-4 col-md-6 col-12 card-block prod-card" onclick="location.href = '/product/6509369321b8ef98d5bf04a2';">
    <div class="img-container col-12">
        <img class="prod-img" src="https://storage.googleapis.com/petneedstore_resources/images/pedigree.jpeg">
    </div>
    <div class="prod-content col-12">
        <h4>
            <a href="/product/6509369321b8ef98d5bf04a2">{{name}} &nbsp;<small>Pedigree</small></a>
            <p class="prod-price">₹ 260</p>
        </h4>
        <small>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </small>
        <p class="prod-desc">Pedigree high quality dog food</p>
        &nbsp;<span class="badge badge-warning">Dog</span>
        &nbsp;<span class="badge badge-warning">Food</span>
        &nbsp;<span class="badge badge-warning">Medium</span>
    </div>
</div>
