<div class="row">
    <div *ngFor="let product of products" class="card col-lg-4 col-md-6 col-12 card-block prod-card" (click)="redirectToProduct(product._id)">
        <div class="img-container col-12">
            <img class="prod-img" src="{{product.imgSrc}}">
        </div>
        <div class="prod-content col-12">
            <h4>
                <a href="/product/{{product._id}}">{{product.name}} &nbsp;<small>{{product.company.name | uppercase}}</small></a>
            </h4>
            <p class="prod-price">{{product.prodVar[0].price | currency:'INR':true}}</p>
            <small>
                <i class="fa{{ product.rating < 1 ? 'r' : 's' }} fa-star"></i>
                <i class="fa{{ product.rating < 2 ? 'r' : 's' }} fa-star"></i>
                <i class="fa{{ product.rating < 3 ? 'r' : 's' }} fa-star"></i>
                <i class="fa{{ product.rating < 4 ? 'r' : 's' }} fa-star"></i>
                <i class="fa{{ product.rating < 5 ? 'r' : 's' }} fa-star"></i>
            </small>
            <p class="prod-desc">{{product.smalDesc}}</p>
            <div class="tags">
                &nbsp;<span *ngFor="let tag of product.tags" class="badge badge-warning">{{tag}}</span>
            </div>
        </div>
    </div>
</div>
