extends layout

block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | PetNeeds was created to help people find all of their pets' needs and accessories at one place
        | <br /><br />
        | This project has been created by <br />
        | <b>Abdus Samad</b>&nbsp; (21EG106B01)<br />
        | <b>Kotha Siri</b>&nbsp;  (21EG106B55)<br />
        | <b>Manichandra</b>&nbsp; (21EG106B59)<br />