extends layout

block content

	.row.banner
		.col-12
			h1 PetNeeds
				small &nbsp;Find the best products for your pets

	.row
		.col-12.col-md-8

			.card
				.card-block
					h4
						a(href="/location") Pedigree
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 1000 RS
					p.address 125 High Street, Reading, RG6 1PS
					p.facilities
						span.badge.badge-warning Hot drinks
						span.badge.badge-warning Food
						span.badge.badge-warning Premium wifi


			.card
				.card-block
					h4
						a(href="/location") Kennel
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.far.fa-star
						span.badge.badge-pill.badge-default.float-right 2400 RS
					p.address 125 High Street, Reading, RG6 1PS
					p.facilities
						span.badge.badge-warning Coffee
						span.badge.badge-warning Snacks
						span.badge.badge-warning Premium wifi


			.card
				.card-block
					h4
						a(href="/location") Dog Brush
						small &nbsp;
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
						span.badge.badge-pill.badge-default.float-right 500 RS
					p.address 125 High Street, Reading, RG6 1PS
					p.facilities
						span.badge.badge-warning Fast Food
						span.badge.badge-warning Cool Drinks
						span.badge.badge-warning Unlimited Refills



		.col-12.col-md-4
			p.lead Looking for grooming products for your pets? PetNeeds helps you find the best qulity products for your pets. Perhaps a brush or food? Let PetNeeds help you find the products you're looking for.
